@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sub: '#64748B',
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background-color: #FAFAFA;
}

.header-p {
  @apply py-[12px] px-[24px];
}


.flex-items-center {
  @apply flex items-center;
}

.layout-title-section {
  @apply px-[24px];
}

.user-layout {
  height: calc(100vh - 65px);
}

.quill {
  height: 100%;
}

.ql-toolbar {
  display: none;
}

.ql-container {
  border: 0 !important;
  height: 100%;
}

.absolute-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

input::placeholder {
  color: var(--sub);
}
